False, True, list, set, tuple
------------------------------
\t символ вертикальной табуляции,
\n символ переноса строки,
\xhh символ с HEX кодом hh.
-----------------------------
print("foo bar".capitalize())  # приводит строку как в предложении. Первый символ большой остальные маленькие
print("foo bar".title())  # первые буквы слов будут большими
print("foo bar".upper())  # все большие буквы
print("foo bar".lower())  # все маленькие буквы
print("Foo bar".swapcase())  # если буквы маленкия то делает ее большой и наоборот
----------------------------- 
print("100500".isdigit()) #проверяет является ли строка 'числовой'
print("foo100500".isalnum()) #проверяет является ли строка 'числовой и текстовой'
print("foobar".isalpha()) #проверяет является ли строка 'строкой'